<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="github.com/gigigatinha">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aba</title>
</head>
<body>
    <!-- eu sou um comentário -->
     <marquee bgColor="pink" direction="up">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum aspernatur consectetur magni quo dolorem, praesentium est numquam nihil expedita veniam delectus pariatur perferendis recusandae nostrum quibusdam eum nisi temporibus aperiam?</marquee>
     <marquee bgColor="blue" direction="down">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt veniam eligendi consequuntur suscipit. Dignissimos, atque possimus id illum, neque quidem obcaecati quaerat consequuntur doloremque voluptatibus consequatur non aperiam, veniam minus?</marquee>
     <marquee bgColor="violet" direction="left">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo ut, obcaecati adipisci laborum, architecto quasi perferendis hic asperiores distinctio, dolores illo? Tempore error nostrum nobis omnis excepturi voluptate beatae. Quidem.</marquee>
     <marquee bgColor="aqua" direction="right">Lorem ipsum dolor sit amet consectetur adipisicing elit. A culpa eligendi mollitia illo quibusdam laboriosam pariatur obcaecati officia sit architecto, magni, eius facere, adipisci quidem voluptate vel suscipit optio perferendis?</marquee>
</body>
</html>